/* *обращение ко всем тегам. *::after *::before - обращение к псевдоо элементам*/
*,
*::after
*::before
{
    box-sizing: border-box;
}

ul{
    margin: 0;
    /* убираем маркеры - кружки жиртые напротив текста */
    list-style: none;
}
/* так же сделаем общее правило для всех li а именно уберем боковой левый паддинг */
li{
    padding-left: 0;
}

/* убираем подчеркивание у ссылок */
a{
    text-decoration: none;
    /* обычно все ссылки берут цвет у родителя от хедера. Сделаем это такой командой inherit;(тк если просто задать цвет ссылкам он нез задастся 
    тк у ссылок более высокий приоритет! */
    color: inherit;
}
/* задаем средние значения шрифта для всего макета. Подключим шрифт макета. Смотрим какой шрифт в макете - наводим на текст - inspect - Font */
/* далее идем в fonts google.com - Inter - Regular 400 - Bold 700 и смотрим на макет слева, там указаны шрифты и толщины */
/* берем <link> из сложенного в фонте копируем и вставляем в index.html меджу "css/normalize.css"> и "css/style.css"> такое подключение называется
подключение шрифтов через cdn (шрифты с ближайшего сервера. Далее копируем в фонте CSS rules to specify families -> font-family и ставим в body */
body{
    font-family: 'Inter', sans-serif;
    /* далее прописываем то что в фикме справа в Typography */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container{
    /* писать статич ширину нельзя width: 1200px;, поэтому пишем + добавим 20px для padding: 0 10px по 10 с кажд стороны */
    max-width: 1220px;
    /* пишем отступы для контента внутри контейнера */
    padding: 0 10px;
    /* ставим по центру */
    margin: 0 auto;
}
/* у браузера все равно есть преднастроенные мрджины и падинги смотрим файл нормалайз css! 
и подкл его в html ОН должен подключаться самым ПЕРВЫМ! */
/* далее расставляем заголовки в нужном порядке */
.header__inner{
    /* поставит liсправа от логотипа */
    display: flex;
    /* отправит li в правый верхний угол */
    justify-content: space-between;
    /* для li выравниваем их по центру(отлепляем от верха страницы  */
    align-items: center;
}
/* обрабатываем меню из 3-х li */
.menu{
    /* отступ справа 70рх */
    margin-right: 70px;
}
/* далее стилизуем menu__list содержимое ul + т.к. у нас еще будут на странице ul пишем в начале общий ul вверху странцы*/
.menu__list{
/* расставляем их друг за другом */
    display: flex;
}

/* для li  нужно еще задать 10рх для расстояния между лишками с помощью "c .menu__item"*/
/* + означает соседний селектор -> оно ищет .menu__item + ищет его соседа .menu__item и только ему задает padding-left: 10px; */
/* рпостыми словами это будет обращение к кадому .menu__item, КРОМЕ ПЕРВОГО! */
.menu__item + .menu__item{
/* нужно еще задать 10рх для расстояния между лишками */
padding-left: 10px;
}
/* для ссылок a */
.menu__link{
/* в макете все ссылки написаны капсом, меняем на регистр на капс */
    text-transform: uppercase;
    /* 1)задаем паддинги-отступы слева и справа 0-сверху 20px слева и справа*/
    padding: 0 20px;
    /* 2)перепишем чтобы все линки занимали всю высоту - смотрим в фигме отступы верх вниз 42рх(но зададим 43) от черной картинки и запишем */
    padding: 43px 20px;
    /* делаем плавность при наведении */
    transition: all .3s;
}
/* деоаем ховер при наведении чтобы менялся цвет */
.menu__link:hover{
    /* при наведении черный наш */
    background-color: #131313;
    /* а сам цвет белый */
    color: #fff
}
/* часть 2 Пишу нумерованные комментарии в CSS */
/* 1)задаем расстояние от верха (хеддера) и низа бллока (след блок) bike: сверху 100 по бокам 0 снизу 150 */
.bike{
    padding: 100px 0 150px;
}
/* 2)далее bike__inner, в нем наши 2 колонки находятся левая и правая с велосипедом*/
.bike__inner{
    display: flex;
    /* 3)растягиваем по углам контент */
    justify-content: space-between;
}
/* 4)создали класс колонке со слайдером в html bike__column-slider что бы опираясь на него выравнять от него левую колонку */
.bike__column-slider{
    /* 5) 630px т.к. ширина картинки = width: 630px; */
    flex-basis: 630px;
    /* 6) смотрим отступ слева от картинки 31px(на видео 30px) указываем его */
    margin-left: 30px;
    /* шаг 29) из за flex-basis: 630px; нам нужно указать максимальную ширину тк слайдер это свойство перебивает!*/
    max-width: 630px;
}
/* 7) после задания отступов от правой стабильной колонки работаем с левой колонкой */
.bike__title{
    /* 8) смотрим колонку в фигме inspect-> H0 и задаем такой же */
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    /* 9) далее смотрим марджин/отступ вниз 5 пикс. Пишем m0-0-5 */
    margin: 60px 0 5px;
    /* 10) мемряем треугольником отступ верхний/марджин. Берем за основу высоту картинки и измеряем отступ до начала текста 79px 
    (в видео 60px) изменяем на m60-0-5*/
}
/* 11) далее идет подзаголовок bike__subtitle */
.bike__subtitle{
    /* 12) задаем нижний отступ до текста 60пикс */
    margin: 0 0 60px;
    /* 13) задаем цвет и фонтсайз и толщину шрифта*/
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #6F6F6F;
}
.bike__text{
    /* 14) смотрим нижний отступ 20пикс.margin-bottom добаил и вниз 20пикс. Цвет и шрифт общий, который мы на бади указывали.
    добавим еще ширину 420пикс как в фигме во вкладке inspect-> width: 420px; */
    margin-bottom: 20px;
    max-width: 420px;
}
/* 15) делаем ссылку  */
.bike__link{
    /* 16)смотрим в фигме отступ от текста ввех 80 и пишем 80 (несмотря на то что указали 20 в ike__text 14 шаг)
    тк есть свойство схлопывания марджинов */
    margin-top: 80px;
    /* 17)пишем дисплей инлайн блок тк по умолчанию ссылки строчные и что бы к ним применялись наши правила нужно написать так */
    display: inline-block;
    /* 18) устанавливаем бэкграунд колор и сам цвет букв белый*/
    background-color: #131313;
    color: #fff;
    /* 19) отступы сверху/снизу 28 по бокам 81 */
    padding: 28px 81px;
    /* 20) устанавливаем для текста апперкейс */
    text-transform: uppercase;
    /* 21) копируем стили текста с фигмы */
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
}
/* 22) слайдер никто не пишет его в ручную!Это всегда плагин на JS/jquery. slick - https://kenwheeler.github.io/slick/ */
/* 23) слайдер подключается либо путем добавления файла либо через CDN как мы подключали шрифты
jquery - https://developers.google.com/speed/l. Идем в html и добавляем ссылку перед закрывающимся тегом </body> */

/* 30) обращаемся к slick-dots -> заходим в инспект кода и наводим на дотсы. Но слайдера будет 2: 1 в bike-slider, 2 в другой секции */
.bike-slider .slick-dots{
    /* 33) пишем right: 0; для помещения дотсов в правый верхний угол */
    right: 0;
    /* 34) отодвигаем дотсы ниже на слайдере на 50пикс вниз */
    top: 50px;
}

.slick-dots{
    /* 31) пишем позишн абсолют для размещения в нужное место */
    position: absolute;
    /* 32) пишем top 0 унификация для всех слайдеров что бы дотсы были в самом правом верхнем углу без отступов(в видео он удалил их
    тк установили расстояние/отступ  в 50пикс от верха слайтера top: 50px;*/
    /* top: 0; */
}
/* 35 шаг задаем расстояние 10px между дотсами для всех двух дотсов */
.slick-dots li + li{
    padding-top: 10px;
}
/* 36 шаг обращаемся к баттонам (смотрели их в инспекте кода F12 при наведении там есть тег <button> */
.slick-dots button{
    /* 37 шаг убираем цифры с кнопок и смотрим свойства дотсов в фигме заводим так же как там */
    font-size: 0;
    padding: 0;
    border: none;
    background-color: #131313;
    width: 2px;
    height: 25px;
    border-radius: 7px;
    /* 38 шаг делам курсор в форме руки при наведении на дотс */
    cursor: pointer;
    /* 40 шаг задатим задержку для срабатывания для плавности */
    transition: all .3s;
}
/* 39 шаг за активный дотс отвечает li  с классом slick-active сделаем при активном дотсе красный дотс #ff4040 
и так же зададим это для ховера-это когда наводишь мышку на объект*/
.slick-dots button:hover,
.slick-active button{
    background-color: #ff4040;   
}

/* 43 шаг делаем футе для картинок байка bike__list */
.bike__list{
    /* 48 шаг зададим отступы сверху текста от низа картинки */
    margin-top: 25px;
    /* 44 шаг расставили элементы слева на право + расстояние между элементами space-around */
    display: flex;
    justify-content: space-around;
}
/* 45 шаг задаем для bike__list-item шрифт крупный */
.bike__list-item{
    /* толщина */
    /* font-weight: 700;  */
    /* верхний регистр */
    /* text-transform: uppercase; */
    /* максимальная ширина 160пикс */
    /* flex-basis: 160px; */
    /* 47 шаг протестили в F12 и заменим на -   min-width: 160px; */
    min-width: 160px;
    /* text-align: center; */
    /* 53 добавляем дисплей флекс */
    display: flex;
    flex-direction: column;
    /* 54 шаг выравниваем дисплей флекс по центру */
    align-items: center;
    text-align: center;
    /* 55 шаг добавляем минимальную высоту = height: 31px; + 17 + 5 свеху и 5 снизу */
    min-height: 58px;
}
/* 50 шаг стилизуем вновь добавленные классы */
.bike__list-num{
    /* 52 переносим значение из bike__list-item */
     /* толщина */
     font-weight: 700; 
     /* верхний регистр */
     text-transform: uppercase;
}
/* 46 шаг обращаемся к спанам  смотрим что написано в фигме + добавим  display: block;*/
/* 51 шаг из за добавления класса комментим спан и переделываем его на bike__list-text - ранее бывшего bike__list-item span */
/* .bike__list-item span{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
} */
.bike__list-text{
    /* display: block; */
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* text-transform: lowercase; */
    /* 56 шаг далее тексту пишем мрджин сверху авто и снизу авто а по бокам 0 */
    margin: auto 0;
}