/* *обращение ко всем тегам. *::after *::before - обращение к псевдоо элементам*/
*,
*::after
*::before
{
    box-sizing: border-box;
}

ul{
    margin: 0;
    /* убираем маркеры - кружки жиртые напротив текста */
    list-style: none;
}
/* так же сделаем общее правило для всех li а именно уберем боковой левый паддинг */
li{
    padding-left: 0;
}

/* убираем подчеркивание у ссылок */
a{
    text-decoration: none;
    /* обычно все ссылки берут цвет у родителя от хедера. Сделаем это такой командой inherit;(тк если просто задать цвет ссылкам он нез задастся 
    тк у ссылок более высокий приоритет! */
    color: inherit;
}
/* задаем средние значения шрифта для всего макета. Подключим шрифт макета. Смотрим какой шрифт в макете - наводим на текст - inspect - Font */
/* далее идем в fonts google.com - Inter - Regular 400 - Bold 700 и смотрим на макет слева, там указаны шрифты и толщины */
/* берем <link> из сложенного в фонте копируем и вставляем в index.html меджу "css/normalize.css"> и "css/style.css"> такое подключение называется
подключение шрифтов через cdn (шрифты с ближайшего сервера. Далее копируем в фонте CSS rules to specify families -> font-family и ставим в body */
body{
    font-family: 'Inter', sans-serif;
    /* далее прописываем то что в фикме справа в Typography */
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

.container{
    /* писать статич ширину нельзя width: 1200px;, поэтому пишем + добавим 20px для padding: 0 10px по 10 с кажд стороны */
    max-width: 1220px;
    /* пишем отступы для контента внутри контейнера */
    padding: 0 10px;
    /* ставим по центру */
    margin: 0 auto;
}
/* у браузера все равно есть преднастроенные мрджины и падинги смотрим файл нормалайз css! 
и подкл его в html ОН должен подключаться самым ПЕРВЫМ! */
/* далее расставляем заголовки в нужном порядке */
.header__inner{
    /* поставит liсправа от логотипа */
    display: flex;
    /* отправит li в правый верхний угол */
    justify-content: space-between;
    /* для li выравниваем их по центру(отлепляем от верха страницы  */
    align-items: center;
}
/* обрабатываем меню из 3-х li */
.menu{
    /* отступ справа 70рх */
    margin-right: 70px;
}
/* далее стилизуем menu__list содержимое ul + т.к. у нас еще будут на странице ul пишем в начале общий ul вверху странцы*/
.menu__list{
/* расставляем их друг за другом */
    display: flex;
}

/* для li  нужно еще задать 10рх для расстояния между лишками с помощью "c .menu__item"*/
/* + означает соседний селектор -> оно ищет .menu__item + ищет его соседа .menu__item и только ему задает padding-left: 10px; */
/* рпостыми словами это будет обращение к кадому .menu__item, КРОМЕ ПЕРВОГО! */
.menu__item + .menu__item{
/* нужно еще задать 10рх для расстояния между лишками */
padding-left: 10px;
}
/* для ссылок a */
.menu__link{
/* в макете все ссылки написаны капсом, меняем на регистр на капс */
    text-transform: uppercase;
    /* 1)задаем паддинги-отступы слева и справа 0-сверху 20px слева и справа*/
    padding: 0 20px;
    /* 2)перепишем чтобы все линки занимали всю высоту - смотрим в фигме отступы верх вниз 42рх(но зададим 43) от черной картинки и запишем */
    padding: 43px 20px;
    /* делаем плавность при наведении */
    transition: all .3s;
}
/* деоаем ховер при наведении чтобы менялся цвет */
.menu__link:hover{
    /* при наведении черный наш */
    background-color: #131313;
    /* а сам цвет белый */
    color: #fff
}